[package]
name = "ray-tracer-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
lol_alloc = "0.4"
rand = "0.9.2"

[profile.release]
opt-level = "z"
panic = "abort"
